<!DOCTYPE html>
<html>
    <head>
        <title>V</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> 
                  var app = new Vue({
                el: #app,
                data: {
                message: 'hello',
            }
            });
        </script>
    </head>
    <body>
        <div id="app">
            {{message}}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
          
        </script>
    </body>
</html>